html {
  font-family: Verdana, "맑은 고딕", sans-serif;
}

textarea{
  font-family: Verdana, "맑은 고딕", sans-serif;
  display: block;
  margin-top: 100px;
  margin-left: 120px;
}

h1 {
  text-align: center;
}

#welcome {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#welcome button {
  background-color: #4a90e2;
  width: 45px;
  height: 36px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 3px;
}

#welcome input {
  height: 30px;
  border-radius: 3px;
}

#my {
  display: inline-block;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 80px;
}

#peer {
  display: inline-block;
}

#chat {
  display: inline-block;
  position: fixed;
  margin-left: 100px;
  float: right;
  margin-bottom: 30px;
}

#chat h3 {
  text-align: center;
}

#chatbox {
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  padding: 10px;
  overflow-y: scroll;
  position: relative;
  border: solid 1px #9e9a9a;
  border-radius: 7px 7px;
  margin-left: 10px;
}

.chatbox {
  display: block;
  position: relative;
}

.namebox {
  clear: both;
}

.bubble {
  margin: 5px 0;

  max-width: 300px;
  font-size: 14px;
}

.friend-bubble {
  background-color: rgb(177, 233, 247);
  border-radius: 14px 14px 14px 0;
  padding: 7px 15px 7px 15px;
  float: left;
  clear: both;
}

.my-bubble {
  background-color: #fff46d;
  border-radius: 14px 14px 0px 14px;
  padding: 7px 15px 7px 15px;
  float: right;
  clear: both;
}

#msg {
  background-color: #fafafa;
  padding: 10px;
}

#msg input {
  width: 250px;
  height: 40px;
  float: left;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 0.5px #d7d7d7;
  resize: none;
  padding: 10px;
  font-size: 14px;
}

#msg button {
  background-color: #4a90e2;
  width: 50px;
  height: 61px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 2px;
  float: left;
}

#buttons {
  margin-left: 80px;
}

#buttons button {
  background-color: #4a90e2;
  width: 50px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 5px;
  float: left;
}

#buttons .off {
  background-color: rgb(235, 46, 46);
}

select {
  margin-top: 16px;
}

#roomList {
  border: solid 2px black;
  border-radius: 3px;
  text-align: center;
  margin-top: 8px;
}

#roomList ul {
  text-align: left;
}

#welcome #name {
  margin-bottom: 5px;
}

#welcome #name button.save {
  background-color: rgb(25, 148, 25);
  text-align: center;
}

.container {
  position: relative;
  display: inline-grid;
  margin-top: 100px;
  margin-left: 150px;
  justify-items: end;
  /* border : 4px solid red; */
  grid-template-columns: 350px 100px;
  grid-template-areas:
    "message button"
    "canvas canvas";
}

canvas {
  grid-area: canvas;
  /* position: absolute; */
  border: 4px solid violet;
  margin-left: 1vw;
  top: 5vh;
  z-index: 1;
}

.message {
  /* position: absolute; */
  padding-right: 95px;
  grid-area: message;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  /* width: 400px;
  height: 50px; */
  /* border : 2px solid green; */
}

.buttons {
  grid-area: button;
  height: 30px;
  align-self: center;
  /* border : 2px solid purple; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "withdraw restart";
}

#reload {
  grid-area: restart;
  top: 0px;
  left: 150px;
  width: 90px;
  font: 18px bold;
}

.winShow1 {
  position: absolute;
  /* z-index: -1; */
  visibility: hidden;
  left: 240px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 35px;
  font-weight: bolder;
}
.winShow2 {
  position: absolute;
  /* z-index: -1; */
  visibility: hidden;
  left: 240px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 35px;
  color: white;
  font-weight: bolder;
}
